.task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: var(--gray-400);
  color: var(--gray-100);
  align-items: center;
  padding: 1rem;
  border-radius: 8px;
  min-height: 4.5rem;
}

.task > span {
  display: flex;
  flex-direction: column;
}

.task input[type='checkbox'] {
  margin-right: 1rem;
  cursor: pointer;
  height: 24px;
  width: 24px;
  position: relative;
  border-radius: 50%;
  vertical-align: middle;
  border: 2px solid var(--blue-dark);
  appearance: none;
}

.task input[type='checkbox']:not(:checked) {
  background: transparent;
}

.task input[type='checkbox']:not(:checked):hover {
  background-color: var(--blue-dark);
}

.task input[type='checkbox']:checked {
  background-color: var(--purple-dark);
  border: none;
  opacity: 1;
  background-image: url('../assets/check-circle-fill_.png');
}

.task input[type='checkbox']:checked:hover {
  background-color: var(--purple);
}

.risk-text {
  text-decoration: line-through;
}

.task > p {
  flex: 1;
}

.task > button {
  display: flex;
  justify-items: center;
  align-items: center;
  background: transparent;
  border: none;
  margin-right: 0.25rem;
}

.task > button:hover {
  background: var(--gray-600);
  cursor: pointer;
  padding: 0.1rem;
  border-radius: 4px;
  transition: all 100ms;

}

.task > button .iconTrash {
  color: var(--gray-300);
  width: 24px;
  height: 24px;
}

.task > button:hover .iconTrash {
  color: var(--danger);

}